<div class="container">
  <h1>Welcome to Mr. Cocktail</h1>
    <h2>Cocktail List</h2>
      <div class="cards">
        <div class="card-category">
          <% @cocktails.each do |drink| %>
          <%= drink.name %>
          <% end %>
        </div>
      </div>

  <%= link_to "Create cocktail", new_cocktail_path %>
</div>

