<div class="container">
  <h1>Cocktails#new</h1>
    <div class='justify-content-center'>
      <%= render 'form' %>
    </div>
      <div class="text-right">
        <%= link_to "Cancel", cocktails_path %>
      </div>
</div>
